@charset "UTF-8";
/* line 7, ../../../compass/src/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../../../compass/src/common.scss */
h3.question {
  margin-top: 30px;
  text-align: left;
  background: url(/images/icons/stats.png) no-repeat 15px left;
  padding-left: 30px;
  border-top: 3px solid #000;
}

/* line 21, ../../../compass/src/common.scss */
section.graph {
  float: right;
  width: 600px;
}

/* line 26, ../../../compass/src/common.scss */
section.table {
  float: left;
  width: 300px;
}

/* line 31, ../../../compass/src/common.scss */
img {
  border: 0;
}

/* line 35, ../../../compass/src/common.scss */
p {
  margin: 10px 0;
}

/* line 39, ../../../compass/src/common.scss */
h1, h2, h3, h4 {
  color: #666;
}

/* line 43, ../../../compass/src/common.scss */
h3 {
  padding: 5px 0px;
  border-bottom: 1px solid #E1E8F0;
}

/* line 48, ../../../compass/src/common.scss */
header, section, footer {
  display: block;
}

/* line 52, ../../../compass/src/common.scss */
ul li {
  list-style: none;
}

/* line 56, ../../../compass/src/common.scss */
body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

/* line 62, ../../../compass/src/common.scss */
.submit {
  height: 26px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  border: 0 none;
  margin-left: 10px;
  background-color: green;
  color: #fff;
}

/* line 74, ../../../compass/src/common.scss */
abbr {
  color: #cc0000;
  padding-top: .2em;
}

/* line 76, ../../../compass/src/common.scss */
form label {
  font-size: 18px;
  display: inline;
}

/* line 81, ../../../compass/src/common.scss */
.text_input {
  width: 250px;
  height: 15px;
}

/* line 86, ../../../compass/src/common.scss */
div.qustion_label {
  margin-bottom: 10px;
}

/* line 90, ../../../compass/src/common.scss */
div.question p {
  margin: 5px 0;
}

/* ---- page nav ----*/
/* line 97, ../../../compass/src/common.scss */
#page_nav {
  height: 20px;
  padding: 5px 10px 15px 0px;
  margin: 0px 0px 15px;
  border-bottom: 1px solid #efefef;
}

/* line 104, ../../../compass/src/common.scss */
#page_nav span {
  float: left;
  color: #333;
  font-size: 1.9em;
  line-height: 28px;
  font-weight: bold;
}

/* line 112, ../../../compass/src/common.scss */
.page_guide {
  height: 12px;
  padding: 10px 0;
}

/* line 117, ../../../compass/src/common.scss */
#page {
  margin: 10px 40px;
}

/* line 121, ../../../compass/src/common.scss */
#preview {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #FFCC00;
  background: #FFFF99;
}

/* line 128, ../../../compass/src/common.scss */
#footer {
  margin: 20px 0px;
  text-align: center;
}

/* line 133, ../../../compass/src/common.scss */
#footer a {
  color: #999;
}

/* line 137, ../../../compass/src/common.scss */
#footer span {
  color: #999999;
}

/* line 142, ../../../compass/src/common.scss */
a {
  color: #3F6A97;
  text-decoration: none;
}

/* line 144, ../../../compass/src/common.scss */
.ag:link {
  color: #fff;
  background: #79B0F3;
  border: 1px solid #3D88CF;
  text-decoration: none;
  padding: 3px 5px;
  font-size: 12px;
}

/* line 153, ../../../compass/src/common.scss */
a.ag:hover {
  text-decoration: none;
  color: #fff;
  background: #0099FF;
}

/* line 158, ../../../compass/src/common.scss */
.ag:active {
  text-decoration: none;
  color: #fff;
}

/* line 163, ../../../compass/src/common.scss */
.ag:visited {
  color: #fff;
  background: #79B0F3;
  border: 1px solid #3D88CF;
  text-decoration: none;
  padding: 3px 5px;
}

/*  huizong */
/* line 173, ../../../compass/src/common.scss */
#huizong {
  width: 100%;
}

/* line 177, ../../../compass/src/common.scss */
#huizong td {
  text-align: center;
}

/* line 181, ../../../compass/src/common.scss */
#huizong .percentage {
  display: block;
  float: left;
  background: green;
  margin-right: 5px;
}

/* line 188, ../../../compass/src/common.scss */
.chart {
  padding: 20px;
}

/*  grid table */
/* line 194, ../../../compass/src/common.scss */
table.grid thead tr th, table.grid tfoot tr th {
  border-bottom: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3;
  background: #F4F8FF;
  color: #0054B4;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

/* line 204, ../../../compass/src/common.scss */
table.grid tbody td {
  color: #666;
  vertical-align: top;
  border-bottom: 1px solid #efefef;
}

/* line 210, ../../../compass/src/common.scss */
table.big {
  width: 1000px !important;
  margin: 0 auto;
}

/* line 215, ../../../compass/src/common.scss */
table.big tbody td {
  color: #6B7C70;
  padding: 5px;
  vertical-align: top;
  border-bottom: 1px solid #efefef;
}

/* line 222, ../../../compass/src/common.scss */
.tablenav {
  margin: 10px;
  text-align: center;
}

/* line 227, ../../../compass/src/common.scss */
table.grid td.title a {
  color: #0099FF;
}

/* line 231, ../../../compass/src/common.scss */
table.grid td.title span {
  margin-left: 10px;
  padding: 0;
  color: #999999;
}

/* line 237, ../../../compass/src/common.scss */
table.grid tbody td.opt a {
  margin-right: 10px;
}

/* line 241, ../../../compass/src/common.scss */
#spinner {
  display: none;
}

/* line 245, ../../../compass/src/common.scss */
.box .title {
  color: #666;
  padding: 10px 0;
  font-weight: bold;
}

/* line 251, ../../../compass/src/common.scss */
.name {
  font-weight: bold;
  color: #024373;
  margin-left: 10px;
}

/* line 257, ../../../compass/src/common.scss */
.paginate {
  margin: 10px;
  text-align: center;
}

/* line 261, ../../../compass/src/common.scss */
span.form_id {
  color: #c3c3c3;
  font-size: 10px;
  padding-left: 47px;
}
